.gradient-bg{
    height: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    background:
        -webkit-linear-gradient(315deg, hsla(226.42, 97.71%, 47.05%, 1) 0%, hsla(226.42, 97.71%, 47.05%, 0) 70%),
        -webkit-linear-gradient(65deg, hsla(172.08, 94.04%, 44.39%, 1) 10%, hsla(172.08, 94.04%, 44.39%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(221.89, 98.42%, 48.9%, 1) 15%, hsla(221.89, 98.42%, 48.9%, 0) 80%)!important ;
    background:
        linear-gradient(135deg, hsla(226.42, 97.71%, 47.05%, 1) 0%, hsla(226.42, 97.71%, 47.05%, 0) 70%),
        linear-gradient(25deg, hsla(172.08, 94.04%, 44.39%, 1) 10%, hsla(172.08, 94.04%, 44.39%, 0) 80%),
        linear-gradient(315deg, hsla(221.89, 98.42%, 48.9%, 1) 15%, hsla(221.89, 98.42%, 48.9%, 0) 80%) !important ;

    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    text-transform: uppercase;
}

.full-height-flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 84px;
}

#clock {
    font-size: 50px;
}

